/* gamePage.css */
.game-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.timers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}

.timer {
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.board-container {
    margin: 20px 0;
}

.back-to-menu-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

    .back-to-menu-btn:hover {
        background-color: #0056b3;
    }

.end-message {
    font-size: 2em;
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
}